<?xml version="1.0"?>
<configuration>

	<location path="Analyze.aspx">
		<system.web>
			<authorization>
				<allow roles="admin" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	
	<location path="AnalyzeProduct.aspx">
		<system.web>
			<authorization>
				<allow roles="admin" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>	
	
	<location path="AnalyzeCustomer.aspx">
		<system.web>
			<authorization>
				<allow roles="admin" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="NoticeAddForm.aspx">
		<system.web>
			<authorization>
				<allow roles="admin" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	
	<system.web>
		<authorization>
			<allow roles="admin"/>
			<allow roles="staff"/>
			<deny users="*"/>
		</authorization>
	</system.web>
</configuration>
